@model LSM.Models.Course
@using LSM.Models;

@{
    ViewBag.Title = "Course info " + Model.Name;

   
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>


<div class="container">

    <h1>Course: @Model.Name</h1>
    <div class="row">
        <div class="col-md-6">
            
            <div id="tableCourseInfo">
                <h3>Course Info</h3>
                <p><strong>Start Date: @Model.StartDate Stop Date: @Model.StopDate</strong></p>
                <p>@Model.Description</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="btn-group">
                <button class="btn button-design active" id="buttonModules">Modules</button>
                <button class="btn button-design" id="buttonStudents">Students</button>
            </div>

            <div id="tableModules">
                <div class="table_div">

                    <h3>Modules</h3>
                    <table class="table">
                        <tr>
                            <th>View</th>
                            <th>Start</th>
                            <th>End</th>
                        </tr>

                        @foreach (var item in Model.Modules.ToList())
                        {
                            <tr>
                                <td>@Html.ActionLink(@item.Name, "Module", "Student", new { id = item.Id }, new { @class = "btn  button-design" })</td>
                                <td>@item.StartDate</td>
                                <td>@item.StopDate</td>
                            </tr>


                        }



                    </table>


                </div>
            </div>
            <div id="tableStudents">
                <div class="table_div">
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                        </tr>

                        @foreach (var item in Model.Users)
                        {
                            <tr>
                                @*<td>@Html.ActionLink(@item.FullName, "Edit", "Account", new { id = item.Id }, new { @class = "btn  button-design" })</td>*@
                                <td>@item.FullName</td>
                                <td>@item.Email</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>

        </div>
    </div>


</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/ScriptforLSM.js")
}
