@model LSM.Models.Course

@{

    ViewBag.Title = "Course info " + Model.Name;
    string messagetosend = ViewBag.Message;
    string colortoshow = "";



    if (!(ViewBag.Message == "None"))
    {

        if (messagetosend.Substring(messagetosend.Length - 8) == "deleted!")
        {
            colortoshow = "red";
        }
        else
        {
            colortoshow = "green";


        }

    }

    //if (!(ViewBag.Message == "None"))
    //{

    //    if (messagetosend[messagetosend.Length - 4] == 't')
    //    {
    //        colortoshow = "red";
    //    }
    //    else
    //    {
    //        colortoshow = "green";
    //    }

    //}

}
@* Changed *@

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Home ", "Index", "Courses")</li>
        <li class="breadcrumb-item active" aria-current="page">Course: @Model.Name</li>
    </ol>
</nav>


<h1>Course: @Model.Name</h1>
@if (!(ViewBag.Message == "None"))
{
<div id="message2" class="@colortoshow"><p>@ViewBag.Message</p></div>
}
<div class="container">

    <div class="row">
        <div class="col-md-6">


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()



                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })

                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", rows = 15 } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { type="date", @class = "form-control", rows = 15 } })
                            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StopDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StopDate, new { htmlAttributes = new { type = "date", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StopDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-success" />
                            @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })

                        </div>
                    </div>
                </div>
            }



        </div>
        <div class="col-md-6">
            <div class="btn-group">
                <button class="btn btn-primary active" id="buttonModules">Modules</button>
                <button class="btn btn-primary" id="buttonStudents">Students</button>
            </div>



            <div id="tableModules">
                @Html.ActionLink("Add new module", "Create", "Modules", new { CourseId = Model.Id }, new { @class = "btn btn-success" })
                <div class="table_div">
                    <table class="table">
                        <tr>
                            <th>View/Edit</th>
                            <th>Start</th>
                            <th>End</th>
                        </tr>

                        @foreach (var item in Model.Modules.ToList())
                        {
                            <tr>
                                <td>@Html.ActionLink(@item.Name, "Edit", "Modules", new { id = item.Id }, new { @class = "btn  btn-info" })</td>
                                <td>@item.StartDate.ToShortDateString()</td>
                                <td>@item.StopDate.ToShortDateString()</td>
                            </tr>                           

                        }

                    </table>


                </div>
            </div>
            <div id="tableStudents">
                @Html.ActionLink("Add new student", "Register", "Account", new { CourseId = Model.Id, Teacher = false }, new { @class = "btn btn-success" })
                <div class="table_div">
                    <table class="table">
                        <tr>
                            <th>View/Edit</th>
                            <th>Email</th>
                        </tr>

                        @foreach (var item in Model.Users)
                        {
                            <tr>
                                @*<td>@Html.ActionLink(@item.FullName, "Edit", "Account", new { id = item.Id }, new { @class = "btn  btn-info" })</td>*@
                                <td>@Html.ActionLink(@item.FullName, "Index", "Manage", new { id = item.Id }, new { @class = "btn  btn-info" })</td>
                                <td>@item.Email</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>

        </div>



    </div>


</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/ScriptforLSM.js")
}
