@model IEnumerable<LSM.Models.Course>

@{
    /**/

    ViewBag.Title = "Index";
    string messagetosend = ViewBag.Message;
    string colortoshow = "";



    if (string.IsNullOrWhiteSpace(messagetosend))
    {

        if (messagetosend == "none")
        {
            colortoshow = "red";
        }
        else
        {
            colortoshow = "green";


        }

    }
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>

<h1>Courses</h1>
@if (!(ViewBag.Message == "None"))
{
    <div id="message2" class="@colortoshow"><p>@ViewBag.Message</p></div>
}
<p>
    @Html.ActionLink("Add new Course", "Create", new { id = "" }, new { @class = "btn btn-success" })
</p>
<table class="table table-striped">  
    <thead>
        <tr>
            <th>View/Edit</th>
            <th>Start</th>
            <th>End</th>
            <th>Modules</th>
            <th>Students</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                  @Html.ActionLink("Hej", "Edit", new { id = item.Id }, new { @class = "btn  btn-info" })
                </td>
                <td>
                    @item.StartDate.ToShortDateString()
                </td>
                <td>
                    @item.StopDate.ToShortDateString()
                </td>
                <td>
                    @item.Modules.Count()
                </td>
                <td>
                    @item.Users.Count()
                </td>
            </tr>
        }
    </tbody>
</table>



@section Scripts {
    @Scripts.Render("~/Scripts/ScriptforLSM.js")
}