@model IEnumerable<LSM.Models.Course>

@{
    /**/

    ViewBag.Title = "Index";





}


<nav aria-label="breadcrumb-design">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>



    <h1>Courses</h1>
    <div id="message-row">
        @if (!(String.IsNullOrEmpty(ViewBag.Message)))
        {
            <p id="message">@ViewBag.Message</p>
        }
    </div>


@Html.ActionLink("Add new Course", "Create", new { id = "" }, new { @class = "btn button-design" })

<table class="table table-striped responive" id="coursetable">
    <thead>
        <tr>
            <th scope="col">View/Edit</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Modules</th>
            <th scope="col">Students</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td data-table-header="View/Edit">
                    @Html.ActionLink(item.Name, "Edit", new { id = item.Id }, new { @class = "btn button-design" })
                </td>
                <td data-table-header="Start">
                    @item.StartDate.ToShortDateString()
                </td>
                <td data-table-header="End">
                    @item.StopDate.ToShortDateString()
                </td>
                <td data-table-header="Students">
                    @item.Modules.Count()
                </td>
                <td data-table-header="View/Edit">
                    @item.Users.Count()
                </td>
            </tr>
        }
    </tbody>
</table>




@section Scripts {
    @Scripts.Render("~/Scripts/ScriptforLSM.js")
}