@model IEnumerable<LSM.Models.Module>

@{
    ViewBag.Title = "Modules";
}

<h2>Modules</h2>
<div class="table_div">
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.StartDate)</th>
            <th>@Html.DisplayNameFor(model => model.StopDate)</th>
            <th></th>
            <th></th>
        </tr>
       
        @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>
            @*<td>@Html.DisplayFor(modelItem => item.StartDate)</td>*@
            <td>@item.StartDate.ToShortDateString()</td>
            @*<td>@Html.DisplayFor(modelItem => item.StopDate)</td>*@
            <td>@item.StartDate.ToShortDateString()</td>

            <td>@Html.ActionLink("Module info", "Edit", new { id = item.Id })</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</td>
        </tr>
        }
    </table>
</div>

<p>@Html.ActionLink("Create New", "Create", new { id = "" }, new { @class = "btn btn-default" })</p>
