@model LSM.Models.Activity

@using LSM.Models



@{
    ViewBag.Title = "Create";
    string courseName = @ViewBag.courseName;
    int courseId = @ViewBag.courseId;
    string moduleName = @ViewBag.moduleName;
    int moduleId = @ViewBag.moduleId;


    Module module = @ViewBag.Module;
}


@*<nav aria-label="breadcrumb">
     <ol class="breadcrumb">
         <li>Orginal</li>
        <li class="breadcrumb-item">@Html.ActionLink("Home ", "Index", "Courses")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Course: " + module.Course.Name, "Edit", "Courses", new { id = module.CourseId }, new { @class = "breadcrum-text" })</li>
        <li class="breadcrumb-item">@Html.ActionLink("Module: " + module.Name, "Edit", "Modules", new { id = moduleId }, new { @class = "breadcrum-text" })</li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title activity </li>
    </ol>
</nav>*@

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li>Orginal</li>
        <li class="breadcrumb-item">@Html.ActionLink("Home ", "Index", "Courses")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Course: " + courseName, "Edit", "Courses", new { id = courseId }, new { @class = "breadcrum-text" })</li>
        <li class="breadcrumb-item">@Html.ActionLink("Module: " + moduleName, "Edit", "Modules", new { id = moduleId }, new { @class = "breadcrum-text" })</li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title activity </li>
    </ol>
</nav>


 
    
    

<h1>Create Activity</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.ModuleId)
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", rows = 15 } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Day, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Day, new { htmlAttributes = new { type = "date", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Day, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group btn-group">
        @Html.LabelFor(model => model.Pass, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.RadioButtonFor(model => model.Pass, LSM.Models.Epass.FM)Morning
            @Html.RadioButtonFor(model => model.Pass, LSM.Models.Epass.EM)Afternoon
            @Html.RadioButtonFor(model => model.Pass, LSM.Models.Epass.FMEM)Fullday
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-success" />
            @Html.ActionLink("Cancel", "Edit", "Modules", new { id = ViewBag.ModuleForActivity }, new { @class = "btn btn-info" })
        </div>
    </div>
</div>
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
