@model LSM.Models.Activity

@{

}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Home: ", "Index", "Courses")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Course: " + Model.Module.Course.Name, "Edit", "Courses", new { id = Model.Module.CourseId }, new { @class = "breadcrum-text" })</li>
        <li class="breadcrumb-item">@Html.ActionLink("Module: " + Model.Module.Name, "Edit", "Modules", new { id = Model.ModuleId }, new { @class = "breadcrum-text" })</li>
        <li class="breadcrumb-item active" aria-current="page">Activity: @Model.Name</li>
    </ol>
</nav>

<h1>Activity @Model.Name</h1>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ModuleId)
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", rows = 15 } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Day, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Day, new { htmlAttributes = new { type = "date", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Day, "", new { @class = "text-danger" })
            </div>
        </div>

    

    <div class="form-group">
        @Html.LabelFor(model => model.ModuleId, "ModuleId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.RadioButtonFor(model => model.Pass, "FM")Morning
            @Html.RadioButtonFor(model => model.Pass, "EM")Afternoon
            @Html.RadioButtonFor(model => model.Pass, "FMEM")Fullday
        </div>
    </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn button-design" />
                @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn button-design" })
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
